/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container da Logo */
.logo {
    display: block;
    max-width: 200px; /* Tamanho máximo para telas grandes */
    width: 100%; /* Redimensiona para 100% do container */
    height: auto; /* Mantém a proporção */
    margin: 20px auto; /* Centraliza a logo */
}

/* Containers e Layouts */
.container {
    padding: 15px;
    max-width: 1200px;
    margin: auto;
}

/* Estilo dos Quadrados dos Lanches */
.lanche-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lanche-box h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Responsividade para Telas Menores */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .lanche-box {
        margin: 5px;
        padding: 15px;
    }

    /* Ajusta o Texto */
    .lanche-box h3 {
        font-size: 16px;
    }

    /* Carrinho e Botões */
    #carrinho, #personalizar-lanche {
        width: 100%;
        padding: 10px;
    }

    button {
        font-size: 16px;
        padding: 10px;
    }

    /* Ajuste da Logo para Telas Menores */
    .logo {
        max-width: 150px; /* Logo menor para telas médias */
    }
}

/* Responsividade para Telas Muito Pequenas */
@media (max-width: 480px) {
    .lanche-box {
        margin: 5px;
        padding: 10px;
    }

    .lanche-box h3 {
        font-size: 14px;
    }

    /* Ajusta o Carrinho */
    #carrinho {
        padding: 5px;
    }

    /* Botões de Tamanho Reduzido */
    button {
        font-size: 14px;
        padding: 8px;
    }

    /* Ajuste da Logo para Telas Muito Pequenas */
    .logo {
        max-width: 100px; /* Logo ainda menor para telas muito pequenas */
    }
}


